run = "python3 main.py"
entrypoint = "main.py"

[deployment]
run = ["python3", "main.py"]
build = ["pip", "install", "-r", "requirements.txt"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
