{% extends "_base.html" %}
{# Page 404 : HTML complet, noindex, liens vers les pages utiles #}
{% block title %}Page introuvable : Calendrier Tempo EDF{% endblock %}
{% block description %}Cette page n'existe pas. Retrouvez la couleur Tempo EDF du jour et de demain, le calendrier des jours rouges, les tarifs et les alertes gratuites.{% endblock %}
{% block robots %}<meta name="robots" content="noindex, follow">{% endblock %}
{% block content %}
<section class="legal-content notfound">
    <h1>Page introuvable</h1>
    <p class="section-desc">La page demand&eacute;e n'existe pas ou a &eacute;t&eacute; d&eacute;plac&eacute;e. Voici les pages les plus utiles&nbsp;:</p>
    <ul class="notfound-links">
        <li><a href="/" class="btn">Couleur du jour et de demain</a></li>
        <li><a href="/couleur-tempo-demain" class="btn btn-outline">Couleur Tempo de demain</a></li>
        <li><a href="/calendrier" class="btn btn-outline">Calendrier Tempo EDF</a></li>
        <li><a href="/tarif-tempo-edf" class="btn btn-outline">Tarif Tempo EDF</a></li>
        <li><a href="/blog/" class="btn btn-outline">Blog et guides</a></li>
        <li><button type="button" class="btn btn-outline" onclick="openSubscribeModal()">Alertes gratuites</button></li>
    </ul>
</section>
{% endblock %}
